/* Main Page Design */

* {
  background: skyblue;
  text-align: center;
}

#gamePane {
    width:100%;
    height:200px;
    border:2px solid lightgrey;
    top: 300px;
}

#smurf1 {
    position: absolute;
    // top:140px;
    bottom: 350px;
    left:0%;
    width:20px;
    height:20px;
    background-color: #006cb0;
}

#smurf2 {
    position: absolute;
    // top:240px;
    bottom: 300px;
    left:0%;
    width:20px;
    height:20px;
    background-color: #006cb0;
}

#annoyingShroom {
    position: absolute;
    // top:250px;
    bottom: 300px;
    left:50%;
    width:20px;
    height:20px;
    background-color: red;
}

#smurfHouse {
    position: absolute;
    bottom: 300px;
    // top:240px;
    left:90%;
    width:20px;
    height:20px;
    border:2px solid brown;
}

// Audio CSS
.audio:not([controls]) {
    display: none;
}
