/* Main Page Design */

body {
  background: skyblue;
  // display: flex;
  // justify-content: center;
}

#gamePane {
    width:100%;
    height:500px;
    border:2px solid #006cb0;
    position: relative;
    display: inline-block;
}

#smurf1 {
    position: absolute;
    top:140px;
    left:0%;
    width:20px;
    height:20px;
    background-color: #006cb0;
}

#smurf2 {
    position: absolute;
    top:240px;
    left:0%;
    width:20px;
    height:20px;
    background-color: #006cb0;
}

#annoyingShroom {
    position: absolute;
    top:250px;
    left:50%;
    width:20px;
    height:20px;
    background-color: red;
}

#smurfHouse {
    position: absolute;
    top:240px;
    left:90%;
    width:20px;
    height:20px;
    border:2px solid brown;
}

.turn {
  text-align: center;
  text-transform: uppercase;
}

// Audio CSS
.audio:not([controls]) {
    display: none;
}
