/* Main Page Design */

body {
  background: skyblue;
  display: flex;
  justify-content: center;
}

#gamePane {
    width:1100px;
    height:500px;
    border:2px solid #006cb0;
    position: relative;
    display: inline-block;
}

#smurf1 {
    position: absolute;
    top:140px;
    left:0px;
    width:20px;
    height:20px;
    background-color: #006cb0;
}

#smurf2 {
    position: absolute;
    top:240px;
    left:0px;
    width:20px;
    height:20px;
    background-color: #006cb0;
}

#annoyingShroom {
    position: absolute;
    top:250px;
    left:400px;
    width:20px;
    height:20px;
    background-color: red;
}

#smurfHouse {
    position: absolute;
    top:240px;
    left:900px;
    width:20px;
    height:20px;
    border:2px solid brown;
}

.turn {
  text-align: center;
  text-transform: uppercase;
}
